.projects{
    width: 90%;
    margin: auto;
    min-height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    h2{
        margin: 5rem;
    }
}


.travelly,
.elena{
    padding: 2rem 5rem;
}

